#-----------------------------------------------------------------------------------------------------------------------
#DVM uses this variable. Select the chain id accordingly to the environment you're monitoring.
#Use 943 for PulseChain testnet or 369 for PulseChain mainnet.
NETWORK_ID=369
#-----------------------------------------------------------------------------------------------------------------------
#DVM Discord URLs:
# Type a name to be used as a title when receiving alerts from DVM (NOT Telliot). 
MONITOR_NAME="DVM"

#Set up to 3 different webhooks to send DVM alerts to:
#Use default "https://discord.com/api/webhooks/yourWebhookLink" in DISCORD_WEBHOOK_URL_1= if no alerts desired.
#Default for 2 and 3 is "" if not used.
DISCORD_WEBHOOK_URL_1="https://discord.com/api/webhooks/yourWebhookLink"
DISCORD_WEBHOOK_URL_2="" #webhook 2
DISCORD_WEBHOOK_URL_3="" #webhook 3
#-----------------------------------------------------------------------------------------------------------------------
#Telliot Discord URLs:
# Type a name to be used as a title when receiving notifications from TELLIOT.
MONITOR_NAME_TELLIOT="Telliot"

#Paste the Discord Webhook to send TELLIOT Notifications to, like submitted reports.
#Default is "" if not used.
DISCORD_WEBHOOK_URL_4=""
#-----------------------------------------------------------------------------------------------------------------------
#Notifications and Alerts(DVM):

#Reporters to monitor, separated by commas. Used for monitoring token balances, if a reporter has not reported, etc.
# use "0x0000000000000000000000000000000000000000" as a default value if not using it.
REPORTERS="0x0000000000000000000000000000000000000000,0x0000000000000000000000000000000000000000"

#Token balance thresholds separated by commas. It must follow the length and order of the REPORTERS=.
REPORTERS_PLS_BALANCE_THRESHOLD="200, 200"
REPORTERS_FETCH_BALANCE_THRESHOLD="200, 200"

#Thresholds separated by commas to send alert if no new report is submitted within threshold.
#Must follow the length and order of the REPORTERS=.
NO_REPORTING_THRESHOLD="43200, 43200" #Value in seconds. 43200 is for a 12h check.

#Token balance thresholds for the DISPUTER account. When starting DVM and selecting an account instead of just alerts.
#Remember that to actually dispute feeds DVM needs to be started with the -d flag.
DISPUTER_PLS_BALANCE_THRESHOLD="200"
DISPUTER_FETCH_BALANCE_THRESHOLD="200"

#QueryIDs to monitor when was the last time they were reported, separated by commas.
#use "0x00000000000000000000000000000000000000000000000000000000000000000" as default if not using it.
QUERY_IDS="0x00000000000000000000000000000000000000000000000000000000000000000,0x00000000000000000000000000000000000000000000000000000000000000000"

#Thresholds, separated by commas, to send alerts if no report is submitted within threshold for queryIDs above.
#Must follow the length and order of QUERY_IDS=.
QUERYID_LAST_REPORT_THRESHOLD="43200, 43200" #Value in seconds. 43200 is for a 12h check.
#-----------------------------------------------------------------------------------------------------------------------
#Declare a price here to change the price reported for TESTNET tfetch-usd-spot.
#If no price is declared, telliot will use TESTNET pulseXsubgraph as source to calculate the price of tFETCH.
#0.001 is the default launch price in testnet.
FETCH_USD_MOCK_PRICE=
#-----------------------------------------------------------------------------------------------------------------------
#!USE AT YOUR OWN RISK!
#This variable is -pwd --password, but it's a one time set up.
#Helps unlock account and sign tx without re-typing acc's password.
#
#Type the acc password here. If multiple reporters are running in a single instance,
#you may use the same password in all accounts so they all continue to run.
#Default value is empty (manual input to submit tx): PASSWORD= (manual input to submit tx)
#!USE AT YOUR OWN RISK!
PASSWORD=
